{% extends 'base.html' %}

{% load static %}

{% block content %}

<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand">
        <h2 class="mt-5" style="font-style: italic" >دليل الشركات العقارية</h2>
    </a>
    <!-- <h1 class="mt-5">دليل الشركات العقارية</h1> -->
    <img src="{% static 'Ain Misr Real Estate.png' %}" class="img-fluid" alt="My image">

</nav>

<div class="card w-100 mt-5">
    <div class="card-body">
        <h3 class="card-title">الرؤية والهدف</h3>
        <ul class="card-text">
            <li class="h5 text-muted">تسجيل مشكلتك علي الموقع لا يتطلب ادخال اي بيانات شخصية</li>
            <li class="h5 text-muted">الهدف الاساسي من الموقع هو ان يكون منصة كاملة تسطتيع الرجوع اليها للبحث عن الشركة التي ستقوم بالتعاقد معها</li>
        </ul>

        
    </div>
</div>


<div class="card w-100 mt-5">
    <div class="card-body">
        <p class="card-text">سجل مشكلتك مع الشركة العقارية ليستفيد منها الجميع ويتجنب التعامل مع
            تلك الشركات</p>
        <a href="{% url 'review' %}" class="btn btn-primary">
            تسجيل مشكلة جديدة
        </a>
    </div>

    <div class="card-body">
        <p class="card-text">اطلع علي  سجل المشكلات, يمكنك البحث باسم الشركة</p>
        <a href="{% url 'list_reviews' %}" class="btn btn-primary">
            البحث في المشكلات
        </a>
    </div>
</div>

<div class="card w-100 mt-5">
    <div class="card-body">
        <h3 class="card-title">من نحن</h3>
        <p class="card-text lh-sm">
            احنا ناس مؤمنة ان صناعة العقارات كلها محركها الرئيسى هو السوشيال ميديا وعلشان كده قررنا نقف قدام جشع وطمع الشركات العقارية عن طريق السوشيال ميديا واننا نكون المكان الى بيجمع كل مشاكل المشتريين مع الشركات العقارية ونكون كدليل لاى حد بيحاول يشترى فسوق قلت فيه الشركات المحترمة الملتزمة بالعقود وهنسلط الضوء على الشركات الغير ملتزمة.
        </p>
    </div>
</div>
{% endblock %}